<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Cards for seller listings</title>
</head>
<body>
<form>
<table>
<tr th:each="currentCard : ${cards}">
		<td th:text="${currentCard.id}"/>
		<td th:text="${currentCard.name}"/>
		<td th:text="${currentCard.price}"/>
		<td th:text="${currentCard.isCardJumbo}"/>
		<td th:text="${currentCard.isGX}"/>
		<td th:text="${currentCard.isEX}"/>	
		<td th:text="${currentCard.isMega}"/>
		<td><a th:href="@{/cardController/edit/{id}(id=${currentCard.id})}">Edit</a></td>
		<td><a th:href="@{/cardController/delete/{id}(id=${currentCard.id})}">Delete</a></td>

</tr>
</table>
</form>
</body>
<a href= "../../index.html">Home Page</a>
</html>