<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Input a New List of Cards</title>
</head>
<body>
<form name="form" th:object="${newSCL}" th:action="/cardController/addSellerList.java"  method=POST>
Seller Name: <input type="text" name="name" >
Seller Phone Number: <input type="text" name="phoneNumber" >
<select name ="allCardsToAdd" multiple size = "20">
<th:foreach items = "${requestScope.allCardsToAdd}" var ="currentcard">
<option value = "${currentcard.id}, ${currentcard.name}, ${currentcard.price}, ${currentcard.isEX}, ${currentcard.isGX}, ${currentcard.isMega}, ${currentcard.isJumbo}"> </option>
</th:foreach>
</select>
<input type = "submit" value = "submit">
</form>
<a href="../index.html">Home Page</a>
</body>
</html>