<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Input a New List of Cards</title>
</head>
<body>
<form name="form" th:object="${newList}" th:action= "@{/update/{id}(id=${newCard.id})}" method=POST action="form-handler" onsubmit="return checkForm(this);">
<select name ="allCardsToAdd" multiple size = "20">
<th:foreach items = "${requestScope.allCards}" var ="currentcard">
<option value = "${currentcard.id}"> ${currentcard.name}, ${currentcard.price}, ${currentcard.isEX}, ${curretcard.isGX}, ${currentcard.isMega}, ${currentcard.isJumbo} </option>
</th:foreach>
</select>
</form>
</body>
</html>