<!-- Made By Andrew Dowd, adowd1, 11/16/21-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Input Card</title>
</head>
<script type="text/javascript">

function checkForm(form)
{
	if(form.name.value == ""){
		alert("Error: Card name input is empty!");
		form.name.focus();
		return false;
	}
	
	if(form.price.value == ""){
		alert("Error: Price input is empty!");
		form.price.focus();
		return false;
	}
	
	if(form.isCardJumbo.value != "true" || form.isCardJumbo.value != "false"){
		alert("Error: The card must be true or false for the jumbo input!");
		form.isCardJumbo.focus();
		return false;
	}
	
	if(form.isGX.value != "true" || form.isGX.value != "false"){
		alert("Error: The card must be true or false for the GX input!");
		form.isGX.focus();
		return false;
	}
	
	if(form.isEX.value != "true" || form.isEX.value != "false"){
		alert("Error: The card must be true or false for the EX input!");
		form.isEX.focus();
		return false;
	}
	
	if(form.isMega.value != "true" || form.isMega.value != "false"){
		alert("Error: The card must be true or false for the Mega input!");
		form.Mega.focus();
		return false;
	}
	var re = /^[\w ]+$/;
	

	if(!re.test(form.name.value)){
		alert("Error: Name input contains invalid characters!");
		form.name.focus();
		return false;
	}
	
	var x = form.price.value;
	
	if((x%1) != 0){
		alert("Error: The Price isn't a number");
		form.price.focus();
		return false;
	}
	
	return true;
}

</script>
<body>

<form name="form" th:object="${newCard}" th:action= "@{/cardController/update/{id}(id=${newCard.id})}" method=POST action="form-handler" onsubmit="return checkForm(this);">
<p>Card Info:</p>
Name: <input type="text" name="name" size="20" th:field="*{name}"><br />
Price: <input type="text" name="price" size="20" th:field="*{price}"><br />
Is the card a jumbo: <input type="text" name="isJumbo" size="20" th:field="*{isJumbo}"><br />
Is the card a GX: <input type="text" name="isGX" size="20" th:field="*{isGX}"><br />
Is the card a EX: <input type="text" name="isEx" size="20" th:field="*{isEX}"><br />
Is the card a Mega: <input type="text" name="isMega" size="20" th:field="*{isMega}"><br />


<input name= "submit" type="submit" value="submit"/>

</form>
<a href="viewAllCards">View all Cards</a>
<a href="../index.html">Home Page</a>
</body>
</html>