<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Card Seller Results Page</title>
</head>
<body>
<form>
<table>
<tr th:each="currentSeller : ${sellers}">
		<td th:text="${currentSeller.id}"/>
		<td th:text="${currentSeller.name}"/>
		<td th:text="${currentSeller.phone}"/>
		<td><a th:href="@{/edit/{id}(id=${currentSeller.id})}">Edit</a></td>
		<td><a th:href="@{/delete/{id}(id=${currentSeller.id})}">Delete</a></td>

</tr>
</table>
</form>
</body>
</html>